#root {
  min-width: 335px;
  text-align: center;
}
a{
  text-decoration: none;
}
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.active{
  color: black;
  text-decoration: underline 1px  solid;
  
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 26px;
  justify-content: center;
  align-items: center;
}
.header__nav__li {
  list-style: none;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 17.11px;
  text-align: right;
  
}

.header__nav__li a {
  color: black;
}

.logo {
  width: 145px;
  height: 46.88px;
}

h1,h2,h3,h4,h5,a,p{
  margin: 0;
} 


@media screen and (min-width: 980px) {
#root{
  max-width: 1240px;
}

  .header__nav__li {

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
  }
  .logo {

    width: 210.32px;
    height: 68px;
    
    
  }
}