#root {
  max-width: 1240px;
  text-align: center;
}
a{
  text-decoration: none;

}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.header__nav__li {
  list-style: none;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-align: right;
}

.header__nav__li a {
  text-decoration: none;
}

.logo {
  width: 210.32px;
  height: 68px;
}

h1,h2,h3,h4,h5,a,p{
  margin: 0;
} 