p {
    color: black;
}

.bannerapropos {
    margin-top: 40px;
}

details {
    background: rgba(255, 96, 96, 1);
    width: 100%;
    border-radius: 5px;
    transition: max-height 8s ease-out;
    max-height: 400px;
    overflow: hidden;
    cursor: pointer;
}

summary {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.22px;
    text-align: left;
    padding-left: 10px;
}

i {
    font-size: 32px;
    padding-right: 10px;
    margin: 0;
}

.aproposdetails {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.bgtest {
    background: rgba(246, 246, 246, 1);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    text-align: left;
    margin: 0;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}

details[open] .rotate {
    transform: rotate(180deg);
    padding-right: 10px;
    padding-left: 10px;
 
}

details {
    overflow: hidden;
    transition: max-height 1s ease-out;
    max-height: 34px; 
}

details[open] {
    max-height: 400px;
}

