.picturehoste {
    height: 32px;
    border-radius: 32px;
    object-fit: cover;
    width: 32px;
}

.namehoste {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
    width: 78px;
    height: 33px;
    color: rgba(255, 96, 96, 1);
    margin: 0;
}

.hoste {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    text-align: right;
    width: 135px;
    gap: 15px;
}

@media screen and (min-width: 900px) {
    .picturehoste {
        height: 64px;
        width: 64px;
    }


    .namehoste {        
        font-size: 18px;        
        line-height: 25.67px;
        text-align: right;        
        width: 93px;
        height: 52px;       
    }
}
