#imdg {
    width: 100%;
}
.info_logement {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.firstcontenaire {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.firstcontenaire {
    display: flex;
    justify-content: space-between;
}

.hoste_rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30px;
}
.logement_tile_location{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summ{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.equipementss {
    list-style: none;
}


@media screen and (min-width: 900px) {
    .summ{
        margin-top: 10px;        
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .details {       
        width: 47%;
    }
    .hoste_rating {
        display: flex;
        flex-direction:column;        
        gap: 30px;
        align-items: center;
    }
    .firstcontenaire {
        display: flex;
        flex-direction:row;
    }
}
